.codeidx/**
.git/**
.github/**
.lh/**
.vscode/**
coverage/**
docs/**
examples/**
scripts/**
src/**
test/**
.eslintignore
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc.json
eslint.config.mjs
tsconfig.json
vitest.config.ts
dist/**/*.map
assets/*.md
node_modules/esbuild/bin/esbuild
