.codeidx/**
.git/**
.github/**
.vscode/**
coverage/**
examples/**
scripts/**
src/**
test/**
.eslintignore
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc.json
eslint.config.mjs
tsconfig.json
vitest.config.ts
dist/**/*.map
node_modules/esbuild/bin/esbuild
